*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --titulo-importante-mobile:2.5em;
    --titulo-principal-mobile: 1.5em;
    --titulo-secundario-mobile: 1.2em;
    --padding-principal-mobile: 2em 1.5em;
    --movile-p:.9em;

    --titulo-importante-tablet:3.2em;
    --titulo-principal-tablet: 2.5em;
    --titulo-secundario-tablet: 2em;
    --tablet-p:1.2em;
    --margen-principal: 1.5em;



    --color-principal:rgb(0,0,128);
    --shadow-fondo: 0 0 0 100vmax rgba(0, 0, 0, .5);
    --shadow-sencillo:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.principal{
    height: 100vh;
    background: url(../img/inge.webp) no-repeat center/cover;
    position: relative;
    padding: var(--margen-principal);
}

.div-principal{
    height: 100%;
}

.principal-txt{
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 1em;
}

.principal-txt h1{
    font-size: var(--titulo-importante-mobile);
    padding:.4em 0;
    font-weight: 500;
}

.principal-txt p{
    padding-bottom: .8em;
    font-size: var(--movile-p);
    line-height: 1.5;
}

.principal-txt button{
    padding: .5em 1em;
    border: none;
    border-radius: 10px;
    background-color: var(--color-principal);
    color: white;
}

.principal-grid{
    display: none;
}

@media screen and (min-width:750px){

    .div-principal{
        padding: 3em 0;
        max-width: 750px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: auto;
    }

    .principal-txt{
        text-align: center;
        top: 0;
        transform: translateY(0);
        position: relative; 
        margin-bottom: 2em;
    }

    .principal-txt h1{
        font-size: var(--titulo-importante-tablet);
    }

    .principal-txt p{
        width: 75%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .principal-txt button{
        font-size: var(--tablet-p);
    }

    .principal-txt small{
        font-size: var(--tablet-p);
    }

    .principal-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 15em 15em;
        position: relative;

        gap: 1em;
    }

    .p-grid{
        border-radius: 10px;
    }

    .grid-1{
        background: url(../img/inge-hablando.webp) no-repeat center/cover;
    }

    .grid-2{
        background: url(../img/ags.webp) no-repeat center/cover;
    }

    .grid-3{
        background: url(../img/parsela.webp) no-repeat center/cover;
    }

    .grid-4{
        background: url(../img/todo-parsela.webp) no-repeat center/cover;
    }
}

@media screen and (min-width:990px) {
    
    .div-principal{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 100%;
        max-width: 1000px;
    }

    .principal-txt{
        margin: 0;
        max-width: 700px;
        text-align: left;
        top: 50%;
        transform: translateY(-50%);
    }

    .principal-txt p{
        left: 0;
        transform: translate(0);
    }

    .principal-grid{
        display: grid;
        grid-template-columns: 16em;
        grid-template-rows: repeat(3, 11em);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        margin-right: 0em;
        gap: 2em;
    }    
}

@media screen and (min-width: 1200px) {
    /*.principal-grid{
        display: grid;
        grid-template-columns: 16em;
        grid-template-rows: repeat(3, 11em);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        margin-right: 8em;
        gap: 2em;
    }

    .p-grid{
        border-radius: 10px;
        box-shadow: var(--shadow-sencillo);
    }*/

}