* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --titulo-importante-mobile: 2.5em;
    --titulo-principal-mobile: 1.5em;
    --titulo-secundario-mobile: 1.2em;
    --padding-principal-mobile: 2em 1.5em;
    --movile-p: .9em;

    --titulo-importante-tablet: 3.2em;
    --titulo-principal-tablet: 2.5em;
    --titulo-secundario-tablet: 2em;
    --tablet-p: 1.2em;
    --margen-principal: 1.5em;



    --color-principal: rgb(0, 0, 128);
    --shadow-fondo: 0 0 0 100vmax rgba(0, 0, 0, .5);
    --shadow-sencillo: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

.logo-whats {
    max-width: 3.5em;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    margin: 1em;
    padding: .5em;
    background-color: white;
    border-radius: 50%;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        scale: 1;
    }

    50% {
        scale: .9;
    }

    100% {
        scale: 1;
    }
}

.no-scroll {
    overflow: hidden;
    /* Desactiva el scroll */
    height: 100%;
    /* Asegura que no haya espacio para desplazarse */
}

header {
    background: url(../img/fresnillo.webp) no-repeat center/cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
}


.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 128, 0.411);
    z-index: 500;
}

.txt-header {
    text-align: center;
    color: white;
    position: absolute;
    z-index: 600;
    top: 50%;
    transform: translateY(-50%);
    margin: var(--padding-principal-mobile);
}

.txt-header h1 {
    font-size: var(--titulo-importante-mobile);
    padding: .2em;
}


.header {
    position: relative;
    z-index: 998;
    display: flex;
    align-items: center;
    padding: 1.5em;
    justify-content: space-between;
}

.header .logo {
    max-width: 7rem;
}

.header .logo-2 {
    display: none;
}

.btn-abrir {
    border: none;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: absolute;
    top: 0;
    text-align: left;
    right: 0;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    box-shadow: var(--shadow-fondo);
    height: 100vh;
    width: 100%;
}

#nav {
    display: none;
    transition: opacity 0.3s ease;
}

#nav.visible {
    display: block;
    opacity: 1;
}



.logo-bar-mov {
    max-width: 7rem;
}

.logos-nav-res {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 0 2em;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    width: 100%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.nav-list a{
    text-decoration: none;
    color: var(--color-principal);
    font-size: 1.4rem;
    font-weight: 700;
}

.nav li {
    padding: 1em 2em;
}

.nav-list .li-1 {
    background-color: rgba(236, 236, 236, 0.527);
}



.abrir-menu,
.cerrar-menu {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.abrir-menu img,
.cerrar-menu img {
    width: 2.5em;
}

.grid-principal {
    margin: var(--margen-principal);
    display: grid;
    gap: 1em;
}

.grid-p {
    border-radius: 10px;
    padding: 1em;
    border: .2em solid var(--color-principal);
}

.grid-p h2 {
    background-color: var(--color-principal);
    color: white;
    display: inline;
    padding: .2em;
    border-radius: 10px;
    font-size: var(--titulo-principal-mobile);
}

.grid-p p {
    margin: .5em 0;
    font-size: var(--movile-p);
}

.grid-p h3 {
    margin: .5em 0 0;
    color: var(--color-principal);
}

.grid-p ul {
    list-style: none;
}

.linea-tiempo {
    background: rgb(0, 0, 128);
    position: relative;
    padding: 0 0 15px;
}


.linea-tiempo ul {
    display: flex;
    background: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    gap: 1em;
    justify-content: space-evenly;
    list-style: none;
    padding: 1em;
}

.li-linea a {
    text-decoration: none;
}

.linea-tiempo h3 {
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    transition: .4s ease-in-out all;
}

.linea-tiempo h3:hover{
    background-color: white;
    border-radius: 10px;
    padding: 0 .5em;
    font-size: 1.3em;
    color: var(--color-principal);
}


.linea-tit{
    text-align: center;
    margin: 4em auto 0;
    font-size: 1.5em;
    max-width: 700px;
    color: white;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: rgb(255, 255, 255);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 88;
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    height: 23em;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-rows: 40% 60%;
}


.text-box {
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 10px 10px 0px 0px;
    font-size: 15px;
}

.img-box-1{
    position: relative;
    background: url(../img/inge-lupit-calera.webp) no-repeat bottom/cover;
    border-radius: 0px 0px 10px 10px;
}

.img-box-2{
    position: relative;
    background: url(../img/inge.webp) no-repeat center/cover;
    border-radius: 0px 0px 10px 10px;
}

.img-box-3{
    position: relative;
    background: url(../img/paisaje-tomates.webp) no-repeat bottom/cover;
    border-radius: 0px 0px 10px 10px;
}

.img-box-4{
    position: relative;
    background: url(../img/asessssss.webp) no-repeat center/cover;
    border-radius: 0px 0px 10px 10px;
}

.img-box-5{
    position: relative;
    background: url(../img/parsela.webp) no-repeat center/cover;
    border-radius: 0px 0px 10px 10px;
}

.img-box-6{
    position: relative;
    background: url(../img/ags.webp) no-repeat bottom/cover;
    border-radius: 0px 0px 10px 10px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.text-box h2 {
    font-weight: 600;
    color: rgb(0, 0, 128);
}


.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(255, 255, 255);
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(255, 255, 255);
    left: -15px;
}


@media screen and (max-width:600px) {
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid rgb(255, 255, 255);
        border-left: 0;
        left: -15px;
    }

    .linea-tiempo ul{
        overflow: scroll;
    }

    .li-linea{
        min-width: 100px;
    }
}

@media screen and (min-width:750px) {

    .logo-whats {
        max-width: 4em;
        margin: 2em;
    }


    .header {
        transition: .4s ease-in-out all;
    }

    .header .logo {
        max-width: 10em;
    }


    .txt-header h1 {
        font-size: var(--titulo-importante-tablet);
    }

    .txt-header p {
        font-size: var(--tablet-p);
    }

    .grid-principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-1:first-child {
        grid-column: 1/3;
    }

    .grid-4:nth-child(4) {
        grid-column: 1/3;
    }


    .grid-p p {
        font-size: var(--tablet-p);
    }
}

@media screen and (min-width:990px) {

    header {
        min-height: 70vh;
    }

    .header.sticky {
        background-color: white;
        position: fixed;
        width: 100%;
        color: var(--color-principal);
        padding: 0 0;
        gap: 0;
        justify-content: space-between;
    }

    .header.sticky .logo {
        display: none;
    }

    .header.sticky .logo-2 {
        display: block;
        max-width: 8em;
        margin-left: 4em;
    }

    .header.sticky #nav {
        width: auto;
    }


    .header.sticky .nav-list a {
        color: var(--color-principal);
        font-size: 1.2em;
    }

    .header.sticky .nav ul {
        padding: 1em;
        justify-content: end;
    }


    .header {
        padding: 1em 2em;
        justify-content: space-evenly;
        gap: 4em;
    }

    .header-center p {
        padding: 0em 5em;
    }

    .abrir-menu,
    .cerrar-menu,
    .logo-bar-mov,
    .logos-nav-res {
        display: none;
    }

    #nav {
        display: flex;
        /* Mostrar siempre en desktop */
        opacity: 1;
        /* Mantener visible */
        visibility: visible;
        /* Mantener visible */
        position: static;
        /* Cambiar posición para que no sea absoluta */
        height: auto;
        /* Ajustar altura */
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        flex-direction: row;
    }

    .nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav li {
        padding: 0 1em;
        /* Espaciado en horizontal */
        background-color: rgba(245, 222, 179, 0);
    }

    .nav-list a {
        font-size: 1.4em;
        color: white;
    }

    .nav-list .li-1 {
        background-color: rgba(236, 236, 236, 0);
    }

    .txt-header {
        top: 65%;
    }

    .txt-header h1 {
        font-size: 5em;
    }

    .txt-header p {
        max-width: 50%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }

    .grid-principal {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: .5em;
        box-shadow: var(--shadow-sencillo);
    }


    .grid-p {
        border: .2em solid var(--color-principal);
        padding: 1em;
        border-radius: 10px;
    }

    .grid-p h2 {
        padding: .2em;
        background-color: rgb(0, 0, 128);
        color: white;
        border-radius: 10px;
        display: inline;
    }

    .grid-p p {
        margin-top: .5em;
    }

    .grid-p h3 {
        margin-top: .5em;
        color: rgb(0, 0, 128);
    }

    .grid-p ul {
        margin-left: .5em;
    }

    .grid-p li {
        display: grid;
        grid-template-columns: .25fr 1fr;
        align-items: center;
        gap: 1em;
    }

    .grid-p {
        line-height: 1.5;
        text-align: left;
    }

    .grid-1:first-child {
        grid-column: 1/3;
    }

    .grid-1 {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .grid-3:nth-child(3) {
        grid-column: 1/2;
    }

    .grid-4:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .grid-4 ul {
        list-style: none;
    }

    .linea-tiempo {
        min-height: 100vh;
        background-color: var(--color-principal);
    }

    .linea::after {
        content: "";
        width: .2em;
        height: 100%;
        background-color: white;
        position: absolute;
        left: 50%;
    }
}

@media screen and (min-width:1200px) {
    .grid-principal {
        max-width: 1250px;
        margin: 5em auto;
    }

    .grid-p p {
        font-size: 1em;
    }
}