*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --titulo-importante-mobile:2.5em;
    --titulo-principal-mobile: 1.5em;
    --titulo-secundario-mobile: 1.2em;
    --padding-principal-mobile: 2em 1.5em;
    --movile-p:.9em;

    --titulo-importante-tablet:3.2em;
    --titulo-principal-tablet: 2.5em;
    --titulo-secundario-tablet: 2em;
    --tablet-p:1.2em;
    --margen-principal: 1.5em;



    --color-principal:rgb(0,0,128);
    --shadow-fondo: 0 0 0 100vmax rgba(0, 0, 0, .5);
    --shadow-sencillo:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo-whats{
    max-width: 3.5em;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    margin: 1em;
    padding: .5em;
    background-color: white;
    border-radius: 50%;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0%{
        scale: 1;
    }

    50%{
        scale:.9;
    }

    100%{
        scale: 1;
    }
}

/*Header*/
header{
    position: relative;
    min-height: 100vh;
}

video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 20;
}

.capa{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 128, 0.411);
    z-index: 500;
}

.no-scroll {
    overflow: hidden; 
    height: 100%; 
}

.header{
    position: relative;
    z-index: 998;
    display: flex;
    align-items: center;
    padding: 1.5em;
    justify-content: space-between;
}

.header .logo{
    max-width: 7rem;
}

.header .logo-2{
    display: none;
}

.btn-abrir{
    border: none;
    background-color: rgba(255, 0, 0, 0.952);
}

.nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: absolute;
    top: 0;
    text-align: left;
    right: 0;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    box-shadow: var(--shadow-fondo);
    height: 100vh;
    width: 100%;
}

#nav {
    display: none;
    transition: opacity 0.3s ease;
}

#nav.visible {
    display: block;
    opacity: 1;
}



.logo-bar-mov{
    max-width: 7rem;
}

.logos-nav-res{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 0 2em;
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav-list{
    width: 100%;
}

.nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.nav li{
    padding: 1em 2em;
}

.nav-list .li-1{
    background-color: rgba(236, 236, 236, 0.527);
}

.nav li a{
    text-decoration: none;
    color: var(--color-principal);
    font-size: 1.4rem;
    font-weight: 700;
}

.abrir-menu, .cerrar-menu{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.abrir-menu img, .cerrar-menu img{
    width: 2.5em;
}

.header-center{
    position: absolute;
    z-index: 600;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.header-center h1{
    font-size: var(--titulo-importante-mobile);
    letter-spacing: 1.2px;
}

.header-center small{
    font-size: var(--titulo-principal-mobile);
}

.header-center p{
    margin: 1em;
    font-size: var(--movile-p);
}

.btn-header{
    padding: 1em 2em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(10px);
    border: none;
    color: var(--color-principal);
}

/*Inicio de mi contenido main*/

/*Tercia de imagenes*/
.trio-img-ini{
    display: none;
}

/*Identidad*/

.identidad{
    position: relative;
    padding: 3em 0 2em;
}

.identidad h1{
    text-align: center;
    color:var(--color-principal);
    font-weight: 700;
    font-size: var(--titulo-principal-mobile);
    line-height: 1.75rem;
    padding-bottom: .5em;
}

.identidad p{
    text-align: center;
    padding: 0 1.5em;
    line-height: 1.4;
    font-size: var(--movile-p);
}

.identidad-grid{
    margin: 1em .8em;
    padding: .7em .7em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 20em);
    box-shadow: var(--shadow-sencillo);
    gap: 1em;
    border-radius: 10px;
}

.ident-grid:nth-child(4){
    display: none;
}


.ident-grid{
    position: relative;
    display: grid;
    grid-template-rows: 70% 30%;
}

.ident-grid-img{
    position: relative;
    border-radius: 10px;
}

.ident-grid-img h2{
    font-size: var(--titulo-secundario-mobile);
    position: absolute;
    bottom: 0;
    margin: 1.5em 0 1.5em .5em;
    color: white;
}

.ident-grid-txt p{
    text-align: left;
    padding: .5em 1em 0;
    font-size: var(--movile-p);
}

.i-g-1{
    background: url(../img/ags.webp) no-repeat center/cover;
}

.i-g-2{
    background: url(../img/todo-parsela.webp) no-repeat center/cover;
}

.i-g-3{
    background: url(../img/inge-hablando.webp) no-repeat center/cover;
}


/*Somos la mejor opcion*/

.opcion{
    background: url(../img/fondo-nuevo-azul.webp) no-repeat center/cover;
}

.opcion-info{
    padding: var(--padding-principal-mobile);
    gap: .5em;
}


.opcion-info-tit{
    background-color: rgba(241, 241, 241, 0.39);
    backdrop-filter: blur(5px);
    padding: 1em;
    border-radius: 10px;
}


.opcion-info-tit h1{
    padding-bottom: .5em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: var(--titulo-principal-mobile);
}

.opcion-info-tit p{
    font-size: .8em;
    text-align: center;
    color: white;
}

.opc-info-div{
    background-color: rgb(255, 255, 255);
    margin: 1em 0;
    border-radius: 10px;
    padding: .6em ;
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.opc-info-div-txt h2{
    font-size: var(--titulo-principal-mobile);
    padding: .8em 0 0;
    color: var(--color-principal);
    font-weight: 700;
    position: relative;
    z-index: 990;
}

.opc-info-div-img img{
    width: 100%;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Servicios*/

.servicios{
    padding: var(--margen-principal);
    text-align: center;
}

.servicios h1{
    color: var(--color-principal);
    text-align: center;
    font-size: var(--titulo-principal-mobile);
}

.servicios small{
    font-size: .8em;
}

.servicios-grid{
    margin: 1em 0;
    display: grid;
    grid-template-rows:12em 17em 12em 12em;
    gap: 1em;

}

.serv-grid{
    position: relative;
    border-radius: 10px;
    box-shadow: var(--shadow-sencillo);
}

.serv-grid h2{
    position: absolute;
    bottom: 0;
    margin: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: var(--titulo-principal-mobile);
}

.ser-g-1{
    background: url(../img/asesorai.webp) no-repeat center/cover;
}

.ser-g-2{
    background: url(../img/hoja-3.webp) no-repeat center/cover;
}

.ser-g-3{
    background: url(../img/asessssss.webp) no-repeat center/cover;
}

.ser-g-4{
    background: url(../img/sistema-rie.webp) no-repeat center/cover;
}

footer{
    background-color: var(--color-principal);
    padding: var(--padding-principal-mobile);
}

.header-footer{
    background: url(../img/inge.webp) no-repeat center/cover;
    border-radius: 10px;
    height: 25em;
    position: relative;

}

.header-footer-txt{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.capa-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
}

.header-footer-txt h1{
    font-size: var(--titulo-principal-mobile);
    color: white;
}

.header-footer-txt small{
    font-size: var(--movile-p);
    color: white;
}

.header-footer-txt button{
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
    margin: 1em 0 0 0;
    color: var(--color-principal);
}

.footer-fot{
    padding: 1.5em 0 0 0;
    max-width: 1250px;
    margin: 0 auto;
}

.footer-fot ul{
    list-style: none;
}

.footer-fot ul li{
    padding: 1em 0 0 0;
    color:white;
}

.footer-fot ul li a{
    text-decoration: none;
    color: white;
}

@media screen and (min-width:750px) { 

    .logo-whats{
        max-width: 4em;
        margin: 2em;
    }


    .header{
        padding: 2em;
    }

    .nav-list{
        padding: 2em 0;
    }

    .nav li a{
        font-size: var(--tablet-p);
    }

    .header .logo{
        max-width: 10rem;
    }

    .logo-bar-mov{
        max-width: 10rem;
    }

    .abrir-menu img, .cerrar-menu img {
        width: 4em;
    }

    .header-center h1{
        font-size: var(--titulo-importante-tablet);
    }

    .header-center small{
        font-size: 2em;
    }

    .header-center p{
        font-size: 1.5em;
    }

    .header-center .btn-header{
        font-size: 1em;
    }

    .nav-list li a{
        font-size: var(--titulo-principal-tablet);
    }


    .trio-img-ini{
        display: flex;
        justify-content: space-evenly;
        margin: -5em 0 2em;
        position: relative;
        z-index: 995;
    }

    .trio-img-ini .trio-img img{
        width: 14em;
        height: 14em;
        border-radius: 10px;
        object-fit: cover;
    }

    .identidad-grid{
        margin: 0 1.5em;
        position: relative;
        grid-template-rows: repeat(2, 25em);
        grid-template-columns: repeat(2 , 1fr);
    }

    .identidad h1{
        font-size: var(--titulo-principal-tablet);
    }

    .identidad p{
        font-size: var(--tablet-p);
    }

    .identidad h2{
        font-size: var(--titulo-secundario-tablet);
    }

    .ident-grid-txt p{
        padding: 1em;
        font-size: var(--tablet-p);
    }

    .ident-grid:first-child{
        grid-column: 1/3;
    }
    .opcion-info-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em;
        padding: 3em 0em;
    }
    
    .opcion{
        background-attachment: fixed;
    }

    .opcion h1{
        font-size: var(--titulo-principal-tablet);
    }

    .opcion p{
        font-size: var(--tablet-p);
    }

    .opc-info-div-txt p{
        line-height: 1.4;
        padding-top: .7em;
    }

    .opcion h2{
        font-size: var(--titulo-secundario-tablet);
    }

    .servicios{
        padding: 4.5em 1.5em;
    }

    .servicios h1{
        font-size: var(--titulo-importante-tablet);
    }

    .servicios h2{
        font-size: var(--titulo-secundario-tablet);
    }

    .servicios small{
        font-size: var(--tablet-p);
    }

    .servicios-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 15em);
        min-height: 15em;
    }

    .ser-g-2:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/4;
    }

    .ser-g-4:nth-child(4){
        grid-column: 1/2;
    }

    .header-footer h1{
        font-size: var(--titulo-principal-tablet);
    }

    .footer-fot ul{
        display: flex;  
        justify-content: space-around;
    }
}

@media screen and (min-width:990px) {

    .header.sticky{
        background-color: white;
        position: fixed;
        width: 100%;
        color: var(--color-principal);
        padding: 0 0;
        gap: 0;
        justify-content: space-between;
    }

    .header.sticky .logo{
        display: none;
    }

    .header.sticky .logo-2{
        display: block;
        max-width: 8em;
        margin-left: 4em;
    }

    .header.sticky #nav{
        width: auto;
    }


    .header.sticky .nav-list li a{
        color: var(--color-principal);
        font-size: 1.2em;
    }

    .header.sticky .nav ul{
        padding: 1em 0;
        justify-content: end;
    }

    .header{
        transition: .4s ease-in-out all;
    }

    header{
        height: 115vh;
    }

    .header{
        padding: 1em 2em;
        justify-content: space-evenly;
        gap: 4em;
    }

    .header-center{
        top: 50%;
    }

    .header-center .btn-header{
        transition: .4s ease-in-out;
    }

    .header-center .btn-header:hover{
        background-color: var(--color-principal);
        color: white;
    }

    .header-center p{
        padding: 0em 5em;
    }
    
    .abrir-menu, .cerrar-menu, .logo-bar-mov, .logos-nav-res{
        display: none;
    }

    #nav{
        display: flex; 
        opacity: 1; 
        visibility: visible; 
        position: static; 
        height: auto; 
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        flex-direction: row;
    }

    .nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav li {
        padding: 0 1em; 
        background-color: rgba(245, 222, 179, 0);
    }

    .nav-list li a {
        font-size: 1.4em;
        color: white;
    }

    .nav-list .li-1 {
        background-color: rgba(236, 236, 236, 0);
    }

    .trio-img-ini{
        justify-content: space-evenly;
    }

    .trio-img-ini .trio-img img{
        width: 18em;
        height: 15em;
        object-fit: cover;
    }

    .identidad{
        padding: 3em 0 4em;
    }

    .identidad-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 32em;
    }

    .identidad p{
        margin-bottom: 2em;
        width: 70%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }

    .ident-grid-txt p{
        text-align: left;
        left: 0;
        transform: translateX(0);
        width: auto;
    }

    .ident-grid:first-child{
        grid-column: 1/2;
    }

    .opc-info-div-txt p {
        line-height: 1.8;
        padding-top: .7em;
    }

    
    .servicios-grid {
        margin: 2.5em 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 35%;
        grid-template-rows: repeat(2, 20em);
        gap: 1em;
    }

    .servicios{
        text-align: left;
    }
    

    .servicios h1{
        text-align: left;
    }

    .ser-g-1:first-child{
        grid-column: 1/3;
    }

    .ser-g-2:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    .ser-g-3:nth-child(3){
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .serv-grid{
        transition: .4s ease-in-out;
    }

    .serv-grid:hover{
        scale: 1.01;
    }

    .header-footer button{
        transition: .4s ease-in-out;
    }

    .header-footer button:hover{
        background-color: var(--color-principal);
        color: white;
    }
}

@media screen and (min-width:1200px) {
    .trio-img-ini{
        max-width: 63em;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .identidad-grid{
        max-width: 1250px;
        margin: 0 auto;
    }

    .opcion-info-tit{
        max-width: 1250px;
        margin: 0 auto;
    }


    .opcion-info-div{
        max-width: 1250px;
        margin: 0 auto;
    }

    .opc-info-div-txt p{
        line-height: 1.8;
        padding-top: .7em;
    }

    .servicios{
        max-width: 1250px;
        margin: 4em auto;
        padding: 0 0px;
    }

    .header-footer{
        max-width: 1250px;
        margin: 0 auto;
    }

}