* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --titulo-importante-mobile: 2.5em;
    --titulo-principal-mobile: 1.5em;
    --titulo-secundario-mobile: 1.2em;
    --padding-principal-mobile: 2em 1.5em;
    --movile-p: .9em;

    --titulo-importante-tablet: 3.2em;
    --titulo-principal-tablet: 2.5em;
    --titulo-secundario-tablet: 2em;
    --tablet-p: 1.2em;
    --margen-principal: 1.5em;



    --color-principal: rgb(0, 0, 128);
    --shadow-fondo: 0 0 0 100vmax rgba(0, 0, 0, .5);
    --shadow-sencillo: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo-whats {
    max-width: 3.5em;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    margin: 1em;
    padding: .5em;
    background-color: white;
    border-radius: 50%;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        scale: 1;
    }

    50% {
        scale: .9;
    }

    100% {
        scale: 1;
    }
}

.no-scroll {
    overflow: hidden;
    /* Desactiva el scroll */
    height: 100%;
    /* Asegura que no haya espacio para desplazarse */
}

header {
    background: url(../img/tlalte.webp) no-repeat center center/cover;
    position: relative;
    min-height: 30em;
    width: 100%;
}

.capa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 128, 0.411);
    z-index: 500;
}

.txt-header {
    text-align: center;
    color: white;
    position: absolute;
    z-index: 600;
    top: 50%;
    transform: translateY(-50%);
    margin: var(--padding-principal-mobile);
}

.txt-header h1 {
    font-size: var(--titulo-importante-mobile);
    padding: .2em;
}

.txt-header p{
    font-size: var(--movile-p);
    padding: 1em;
    line-height: 1.5;
}

.header {
    position: relative;
    z-index: 998;
    display: flex;
    align-items: center;
    padding: 1.5em;
    justify-content: space-between;
}

.header .logo {
    max-width: 7rem;
}

.header .logo-2 {
    display: none;
}

.btn-abrir {
    border: none;
}

.nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: absolute;
    top: 0;
    text-align: left;
    right: 0;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    box-shadow: var(--shadow-fondo);
    height: 100vh;
    width: 100%;
}

#nav {
    display: none;
    transition: opacity 0.3s ease;
}

#nav.visible {
    display: block;
    opacity: 1;
}



.logo-bar-mov {
    max-width: 7rem;
}

.logos-nav-res {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 0 2em;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    width: 100%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.nav li {
    padding: 1em 2em;
}

.nav-list .li-1 {
    background-color: rgba(236, 236, 236, 0.527);
}

.nav-list a {
    text-decoration: none;
    color: var(--color-principal);
    font-size: 1.4rem;
    font-weight: 700;
}

.abrir-menu,
.cerrar-menu {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.abrir-menu img,
.cerrar-menu img {
    width: 2.5em;
}

/*Cards Principales*/

.sec-principal{
    padding: 4em 0em 0em 0em;
}

.principal-tit{
    text-align: center;
    margin: 0 auto;
    padding: 0 2em;
}

.principal-tit h2{
    color: var(--color-principal);
    font-size: var(--titulo-importante-mobile);
}

.principal-tit p{
    font-size: var(--movile-p);
    line-height: 1.5;
    margin: 1em 0;
}

.principal-tit button{
    padding: 1em 2em;
    border-radius: 10px;
    border: .1em solid var(--color-principal);
    background: var(--color-principal);
    color: white;
}

.snap{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.principal-grid{
    margin: 2em 0 0;
    padding: 2em .8em;
    display: grid;
    grid-auto-columns: 18em;
    grid-auto-rows: 22em;
    grid-auto-flow: column;
    gap: 1em;
    overflow-x: auto;
}

.p-grid{
    box-shadow: var(--shadow-sencillo);
    position: relative;
    border-radius: 10px;
}

.p-g-3 iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.p-g-1{
    background: url(../img/cultivos-verdes.webp) no-repeat center/cover;
    position: relative;
}

.p-g-1 .capa-grid{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    z-index: 500;
}

blockquote{
    color: white;
    font-size: var(--titulo-secundario-mobile);
    padding: 1em;
    z-index: 600;
    position: relative;
}

.p-g-1 h3{
    position: absolute;
    color: white;
    font-size: var(--titulo-principal-mobile);
    padding: 1em;
    z-index: 600;
    bottom: 0;
}

.p-g-2{
    background: url(../img/tlalte.webp) no-repeat center/cover;
}
/*Carrusel*/


.carrusel-info{
    margin: 5em 0;
}

.carrusel-info button{
    display: none;
}

.carrusel-txt{
    margin: 2.5em 1.5em 0 1.5em;
}

.carrusel-txt h1{
    font-size: var(--titulo-importante-mobile);
    color: var(--color-principal);
}

.carrusel-txt small{
    font-size: 1.2em;
}

.carrusel-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 17rem;
    grid-template-rows: 23rem;
    gap: 1.5rem;
    padding: .8em 1.5em 1rem 1.5em;
    overflow-x: auto;
    overscroll-behavior-x: center;
    scroll-padding: 1em;
}

.snap-align {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.c-grid{
    border-radius: 10px;
    border: .1em solid;
    box-shadow: var(--shadow-sencillo);
    border: none;
}

.c-g-1 {
    background: url(../img/Maiz-NK.webp) no-repeat center/cover;
}

.c-g-2{
    background: url(../img/Rockot.webp) no-repeat center/cover;
}

.c-g-3{
    background: url(../img/Bioteksa-producto-1.webp) no-repeat center/cover;
}

.c-g-4{
    background: url(../img/Metpock.webp) no-repeat center/cover;
}

.c-g-5{
    background: url(../img/Silvizone.webp) no-repeat center/cover;
}

/*Ingenieros*/

.ingenieros{
    margin: 3em 0
}

.ingenieros-txt{
    text-align: center;
    position: relative;
}

.ingenieros-txt h2{
    font-size: var(--titulo-importante-mobile);
    color: var(--color-principal);
}

.ingenieros-txt p{
    font-size: 1.2em;
    padding: 1em .5em;
    line-height: 1.3;
}

.cards-ingenieros{
    max-width: 1250px;
    margin: auto;
    }

.cards-ingenieros h2{
    font-size: var(--titulo-importante-mobile);
    line-height: 1.5;
    color: var(--color-principal);
    margin: 0 0.8em;
}

.snap-align {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.cards{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15rem;
    grid-template-rows: 25rem;
    gap: 1.5rem;
    padding: .8em 1.5em 1rem 1.5em;
    overflow-x: auto;
    overscroll-behavior-x: center;
    scroll-padding: 1em;
}


.card{
    background-color: rgb(13,5,210);
    background: linear-gradient(0deg, rgba(13,5,210,1) 20%, rgba(0,0,128,0) 92%);
    position: relative;
    border-radius: 10px;
}

.card h3{
    position: absolute;
    z-index: 850;
    color: white;
    bottom: 15px;
    font-size: 2em;
    font-weight: 100;
    left: 20px;
}

.capa-card{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(13,5,210);
    background: linear-gradient(0deg, rgba(13,5,210,1) 0%, rgba(0,0,128,0) 41%);
    z-index: 500;
    border-radius: 10px;
}

.card img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.overflow{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, blue 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    z-index: 850;
    color: white;
}

.overflow h4{
    color: white;
    font-size: 2em;
    margin: 0.4em 0;
}

.card:hover .overflow{
    height: 100%;
}

.overflow p{
    color: white;
    font-size: 1em;
    margin: 0.4em 0;
}

.overflow ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.overflow ul li{
    margin: .5em 0;
    gap: 1em;
}

.overflow button{
    margin: 1em 0;
    padding: .8em;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(5px);
    color: white;
}

.overflow button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

footer{
    background-color: var(--color-principal);
    padding: var(--padding-principal-mobile);
}

.header-footer{
    background: url(../img/camion-apb.webp) no-repeat center/cover;
    border-radius: 10px;
    height: 25em;
    position: relative;

}

.header-footer-txt{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.capa-footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.header-footer-txt h1{
    font-size: var(--titulo-principal-mobile);
    color: white;
}

.header-footer-txt small{
    font-size: var(--movile-p);
    color: white;
}

.header-footer-txt button{
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
    margin: 1em 0 0 0;
    color: var(--color-principal);
}

.footer-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    gap: 1em;
}

.footer-content-logo img{
    max-width: 12em;
}

.footer-content h3{
    font-size: var(--titulo-principal-mobile);
    color: white;

}

.footer-content p{
    font-size: var(--movile-p);
    color: white;
    margin: .5em 0 1em;
    line-height: 1.5;
}

.footer-content-txt{
    position: relative;
    margin: 2em 0 1em;
}

.footer-content-txt::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    top: -10px;
    left: 0;
}

.footer-content-txt button{
    padding: .8em 1em;
    border-radius: 10px;
    border: none;
    color: var(--color-principal);
    font-size: var(--movile-p);
    left: 50%;
}

.footer-content-info{
    position: relative;
    margin: 1em 0;
}

.footer-content-info::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    top: -10px;
    left: 0;
}

.footer-content-info ul{
    list-style: none;
    display: flex;
    gap: 1em;

}

.footer-content-info img{
    max-width: 2em;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(231, 231, 231, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto; 
    padding: 0px;
    width: 10%; 
    max-width: 500px;
    min-width: 400px;
    height: 80%;
    /*min-height: 500px;*/
    max-height: 500px;
    border-radius: 15px;
    z-index: 999;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    position: relative;
}

.modal-content img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    border-radius: 15px;
}

.modal-content button{
    position: absolute;
    padding: 1em 2em;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%);   
    border-radius: 10px;
    border: none;
    background-color: var(--color-principal);
    color: white;
    transition: .4s ease-in-out all;
    z-index: 600;
}

.modal-content button:hover{
    background-color: rgb(2, 2, 80);
    color: white;
}

.modal-content p{
    bottom: 0;
    text-align: center;
    color: black;
    position: absolute;
    padding: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    font-size: .6rem;
}


.close {
    color: #ffffff;
    right:0;
    margin: .7em;
    font-size: 28px;
    font-weight: bold;
    z-index: 999;
    position: absolute;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:750px) {

    .logo-whats {
        max-width: 4em;
        margin: 2em;
    }


    .header {
        transition: .4s ease-in-out all;
    }

    .header .logo{
        max-width: 10em;
    }


    .txt-header h1 {
        font-size: var(--titulo-importante-tablet);
    }

    .txt-header p {
        font-size: var(--tablet-p);
    }

    .grid-principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 12em);
    }

    .g-4:nth-child(4) {
        grid-column: 1/3;
    }

    .g-5:nth-child(5) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .carrusel-txt h1{
        font-size: var(--titulo-principal-tablet);
    }

    .carrusel-txt small{
        font-size: var(--tablet-p);
    }

    .carrusel-grid {
        grid-auto-columns: 15rem;
        grid-template-rows: 20rem;
    }

    .header .logo {
        max-width: 10rem;
    }

    .principal-grid{
        grid-template-columns: repeat(3,1fr);
    }

    .header-footer h1{
        font-size: var(--titulo-importante-tablet);
    }


    .footer-content{ 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
    }

    .footer-content-logo{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .footer-content-logo img{
        max-width: 13em;
    }

    .footer-content-logo:first-child{
        grid-row: 1/3;
    }

    .footer-content-txt::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 10em;
        background-color: white;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
    }

    .footer-content-txt button{
        border: .1em solid;
        transition: .4s ease-in-out all;
    }

    .footer-content-txt button:hover{
        background-color: var(--color-principal);
        color: white;
        border: .1em solid white;
    }

    .footer-content-info::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 10em;
        background-color: white;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%; /* Ancho del modal */
        min-width: 300px;
        max-width: 400px; /* Ancho máximo del modal */
        height: 70%;
        max-height: 500px;
    }
    .modal-content button{
        padding: 1em 2em;
        bottom: 10px;
        left: 50%; 
        transform: translateX(-50%);   
    }
}   

@media screen and (min-width:990px) {

    header {
        min-height: 70vh;
    }

    .txt-header {
        top: 65%;
        width: 100%;
        margin: 0 auto;
    }

    .txt-header h1 {
        font-size: 5em;
    }

    .txt-header p {
        max-width: 50%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        padding: 0 0;
    }

    .cards{
        grid-auto-columns: 17em;
    }

    .header.sticky .nav-list a {
        color: var(--color-principal);
        font-size: 1.2em;
    }

    .principal-tit{
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        line-height: 1.5;
    }

    .principal-tit h2{
        color: var(--color-principal);
        font-size: var(--titulo-importante-tablet);
    }

    .principal-tit p{
        font-size: 1.2em;
    }

    .principal-tit button{
        transition: .4s ease-in-out all;
    }

    button:hover{
        color: var(--color-principal);
        background-color: white;
        border-radius: .1em solid white;
    }

    .principal-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 28em;
        max-width: 1200px;
        margin: 0em auto;
        gap: .5em;
    }

    .ingenieros-txt{
        max-width: 1000px;
        margin: 5em auto 2em;
        text-align: center;
    }

    .ingenieros-txt h2{
        color: var(--color-principal);
        font-size: var(--titulo-importante-tablet);
    }

    .ingenieros-txt p{
        font-size: 1.2em;
        line-height: 1.5;
        padding: 1em 0;
    }

    .carrusel-info{
        position: relative;
    }

    .carrusel-info button{
        display: block;
        position: absolute;
        top: 50%;
        z-index: 850;
        margin: 0 1em;
        font-size: 1.5em;
        padding: .7em .9em;
        border-radius: 15px;
        border: none;
        background-color: rgba(187, 187, 187, 0.247);
        color: white;
        backdrop-filter: blur(10px);
        transition: .4s ease-in-out all;
        font-weight: 700;
    }

    .btn-arrow-right{
        right: 0;
    }

    .btn-arrow-left{
        left: 50px;
    }

    .carrusel-info button:hover{
        background-color: rgba(187, 187, 187, 0.432);
    }

    .carrusel-txt{
        padding: 2.2em 4em 1em;
    }

    .carrusel-grid {
        grid-auto-columns: 20rem;
        grid-template-rows: 25rem;
        padding: .7em 6em 2.5em;
    }

    .cards{
        justify-content: center;
    }

    .c-grid{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: none;
        transition: .4s ease-in-out all;
    }

    .c-grid:hover{
        scale: 1.02;
    }

    .header-footer button{
        transition: .4s ease-in-out;
    }

    .header-footer button:hover{
        background-color: var(--color-principal);
        color: white;
    }

    .header-footer-txt small {
        font-size: var(--tablet-p);
    }


    .footer-content{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        max-width: 1250px;
        margin: 3em auto;
    }

    .footer-content-logo:first-child{
        grid-row: 1/2;
    }

    .footer-content-logo img{
        max-width: 17em;
    }
}


@media screen and (min-width:1200px){
    .header.sticky {
        background-color: white;
        position: fixed;
        width: 100%;
        color: var(--color-principal);
        padding: 0 0;
        gap: 0;
        justify-content: space-between;
    }

    .header.sticky .logo {
        display: none;
    }

    .header.sticky .logo-2 {
        display: block;
        max-width: 8em;
        margin-left: 4em;
    }

    .header.sticky #nav {
        width: auto;
    }


    .header.sticky .nav-list a {
        color: var(--color-principal);
        font-size: 1.2em;
    }

    .header.sticky .nav ul {
        padding: 1em;
        justify-content: end;
    }


    .header {
        padding: 1em 2em;
        justify-content: space-evenly;
        gap: 4em;
    }

    .header-center p {
        padding: 0em 5em;
    }

    .abrir-menu,
    .cerrar-menu,
    .logo-bar-mov,
    .logos-nav-res {
        display: none;
    }

    #nav {
        display: flex;
        /* Mostrar siempre en desktop */
        opacity: 1;
        /* Mantener visible */
        visibility: visible;
        /* Mantener visible */
        position: static;
        /* Cambiar posición para que no sea absoluta */
        height: auto;
        /* Ajustar altura */
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        flex-direction: row;
    }

    .nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .nav li {
        padding: 0 1em;
        /* Espaciado en horizontal */
        background-color: rgba(245, 222, 179, 0);
    }

    .nav-list a {
        font-size: 1.4em;
        color: white;
    }

    .nav-list .li-1 {
        background-color: rgba(236, 236, 236, 0);
    }

    .grid-principal{
        max-width: 1150px;
        margin: 7em auto;
    }

    .header-footer{
        max-width: 1250px;
        margin: 0 auto;
        height: 30em;
    }

    .cards{
        grid-auto-columns: 18em;
        grid-template-rows: 27em;
    }

    .card h4{
        text-align: left;
        padding: 0;
    }

    .overflow p{
        line-height: 1.5;
        text-align: left;
    }
}